.z-1 {
	z-index: 5;
}
.z-2 {
	z-index: 10;
}
.z-3 {
	z-index: 15;
}

.spell {
	display: inline-block;
	margin: 0 auto;
}

.spell[size=small] {
	width: 80px;
}

.spell[size=medium] {
	width: 160px;
}

.spell[size=large] {
	width: 223px;
}

.spell .spell-front {
	width: 100%;
	height: auto;
}

.wrapper-spell-group {
	min-height: 80px;
	background-color: #dddddd;
}

.spell-group h2 {
	cursor: pointer;
}

.spell-group .spell-group-list {
	padding: 0px;
	margin: 0px;
	min-height: 80px;
	font-size: 0px;
}
.spell-group .spell-group-list li {
	padding: 3px;
	display: inline-block;
    overflow: hidden;
	list-style-type: none;
}

/* Tooltip helper. */
.tooltip.show {
	opacity: 1;
}

.tooltip-inner {
	width: 240px;
	padding: 0.2em;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 12px;
}

.tooltip-inner p {
	margin: 0px;
	padding: 8px 8px 16px;;
	color: #000000;
	text-align: left;
}

.tooltip-inner img {
	width: 100%;
	height: auto;
}

/* Sidebar Left */
.sidebar-wrapper {
	position: relative;
}

#sidebar-left {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	border-left: 2px #000 solid;
	border-right: 1px #ddd solid;
	z-index: 5;
}

#sidebar-left .spell-group-list {
	margin: 0px;
	padding: 0px;
    padding-left: 8px;
	padding-top: 8px;
	height: 100%;
	min-height: 100vh;
}

#sidebar-left .spell-group-list li {
	list-style-type: none;
    margin-bottom: 8px;
}

#sidebar-trash {
    right: 0px;
	bottom: 0px;
    width: 116px;
    height: 116px;
    position: fixed;
	z-index: 10;
	border: dashed #d55c5c 1px;
}

#sidebar-trash:hover {
	background-color: #d55c5c;
	color: #fff;
}

/* Sidebar Right */
#sidebar-right {
	position: fixed;
    right: 0px;
    height: 60px;
}

#search-results {
	width: 140px;
    min-height: 100vh;
	float: right;
	opacity: 0;
}

#search-results:hover {
	opacity: 1;
	background-color: #eaecef;
}

#sidebar-right .spell-group-list {
	padding-left: 30px;
    padding-top: 16px;
}

#sidebar-right .spell-group-list li {
	list-style-type: none;
    margin-bottom: 8px;
}
